
@{
    ViewBag.Title = "My Title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MyFirstAction</h2>

your html code goes here<br />
@DateTime.Now<br />
Data from controller @ViewBag.Data<br />
Somestring from controller @ViewBag.SomeString

