
@{
    ViewBag.Title = "MySecondAction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MySecondAction</h2>

Display records for EmpNo = @ViewBag.id
<br />
code to display recs here

Data displayed here @ViewBag.data
